.App {
  text-align: center;
}
.container {
  background-color: burlywood;
  margin: auto;
  max-width: 40vw;
  padding: 2rem;
  height: 100vh;
}
.weather-row {
  display: flex;
  font-size: 150%;
  margin-bottom: 3rem;
}

.weather-row > * {
  flex: 1;
}

@media (max-width: 800px) {
  .weather-row {
    display: block;
  }

  .weather-row > * {
    padding: 10px;
  }

  .container {
    margin: auto;
    max-width: 75vw;
    padding: 2rem;
  }
}
